@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.videos-label {
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .videos-label {
    margin-top: 0;
  }
}

